<h1>Rozegrane mecze 
    ({{ entities | length }}) 
</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Data</th>
            <th>Drużyna #1</th>
            <th>Drużyna #2</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr><a href="{{ path('game_show', { 'id': entity.id }) }}">
            <td>{% if entity.date %}{{ entity.date|date('Y/m/d h:m') }}{% endif %}</td></a>
            {% set team1 = 0 %}
            {% set team2 = 0 %}
            {% for score in entity.scores %}
                {% if loop.index %2 == 0 %}
                    {% set team1 = score.score %}
                {% else %}
                    {% set team2 = score.score %}
                {% endif %}
            {% endfor %} 
            {% set winner = 0 %}  
            {% if team1 > team2 %}
                {% set winner = 1 %}
            {% endif %}
            {% for score in entity.scores %}
            <td>
                <div class='row no-margin'>
                    {% for team in score.team %}
                        <div class='row'>
                            <img src="{{ team.imageName | imagine_filter('team_image_small') }}" alt="" class='text-center'/>
                            {{ team.name }}
                        </div>
                    {% endfor %}
                </div>
                <div class='row no-margin'>
                    <p class='score-board 
                       {% if winner == 0 %} 
                           {% if loop.index %2 == 0 %}
                               darkorange 
                           {% else %} 
                               darkcyan 
                           {% endif %}
                       {% else %}
                           {% if loop.index %2 == 0 %}
                               darkcyan 
                           {% else %} 
                               darkorange 
                           {% endif %}
                       {% endif %}'>
                        {{ score.score }}
                    </p>
                </div>
            </td>
        {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
