{% extends "::base.html.twig" %}

{% block title %}Nowa wiadomość{% endblock %}

{% block body %}
        <div class="row no-margin">
            <form method="post" action="{{ path('new_private_message',{'id':id}) }}" novalidate>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}

                    <button type="submit" class="btn btn-primary">Wyślij</button>
                    {{ form_end(form) }}
                    {{ form_rest(form) }}
            </form>
        </div>

        {% endblock %}