{% extends "::base.html.twig" %}

{% block title %}Nowe wydarzenie{% endblock %}

{% block body %}
    <div class="row no-margin">
        <div class="col-md-4 col-md-offset-1">
            <h3>Gra</h3>
            <form method="post" action="{{ path('add_event') }}" novalidate>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.loacation, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}

                </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="form-group">
                {{ form_row(form.image) }}
                {{ form_row(form.capacity, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.type, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.startDate) }}
                {{ form_row(form.endDate) }}
                {{ form_row(form.featured) }}
            </div>  

            <button type="submit" class="btn btn-primary">Utwórz</button>
            {{ form_end(form) }}

            {{ form_rest(form) }}
            </form>
        </div>
    </div>
{% endblock %}
