{% extends "::base.html.twig" %}

{% block title %}AppBundle:Event:show{% endblock %}

{% block body %}
    <div class="row space-top no-margin">
        {% for single in event %}
            <div class="col-sm-9 col-md-9 event-thumbnail">
                <div class="thumbnail clearfix smoked">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="caption">
                                <h3>{{ single.name }}</h3>
                                <h5>Opis :</h5>
                                <p>{{ single.description }}
                                <p>Utworzył: {{ single.admin }}</p>
                                <p>{{ single.startDate | date('d-m-Y | h:m')}}</p>
                                <p>Miasto: {{ single.city }}</p>
                                <p>{{ single.loacation }}</p>
                                {% set freePlaces = single.capacity - single.players | length %}
                                <p>Wolne miejsca: 
                                    {% if freePlaces > 3 %}
                                        <span class="text-success">
                                        {% else %}
                                            <span class="text-danger">
                                            {% endif %} 
                                            {{ freePlaces }}
                                        </span>
                                        z {{ single.capacity }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <img src="http://lorempixel.com/400/300/sports/" alt="" class="pull-right">
                        </div>
                    </div>
                </div>
                {% if app.user == single.admin and single.startDate < date('now') %}
                    <table class="table table-hover">
                        <tr>
                            <td>{{ single.startDate |date('Y/m/d h:m') }}</td>
                        <form action="">
                            <td><input type="text"/></td>
                            <td><input type="text"/></td>
                            <td><button class="btn btn-primary pull-right" type="submit">Dodaj wynik</button></td>
                        </form>
                        </tr>
                    </table>
                {% endif %}
                {{ render(controller('AppBundle:Game:indexEvent', {'id': single.id } )) }}
            </div>
            <div class="col-sm-3 col-md-3">
                {% if single.type == 1 or single.type == 2 %}
                    {% include 'Event/twoTeamPersonal.html.twig' %}
                {% elseif single.type == 3 or single.type == 4 %}
                    {% include 'Event/twoTeamTeams.html.twig' %}
                {% else %}
                    {% include 'Event/noTeam.html.twig' %}
                {% endif %}
                {% include 'Event/messages.html.twig' %}   
            </div>

        {% endfor %}
    </div>
{% endblock %}
